<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    "login", :media => "all" %>
        <title>CodeWitUs Login</title>


        <%= javascript_pack_tag 'interest' %>
        <%= javascript_pack_tag 'video_home' %>

</head>

<body>
    <%= render "layouts/header" %>

        <div class="">

            <div class="row">

                <div class="col-md-8 col-sm-12 " >

                    <% if defined? @vData %>
                            <%  if @vData %>
                                <iframe id=" player " src="<%= @vData.video_id %>" style="width:100%; height:35em; "></iframe>
                            <% else %>
                                <iframe id=" player " src="https://www.youtube.com/embed/XKu_SEDAykw?enablejsapi=1 " style="width:100%; height:35em; "></iframe>
                            <% end %>
                    <% else %>
                                        <iframe id=" player " src="https://www.youtube.com/embed/XKu_SEDAykw?enablejsapi=1 " style="width:100%; height:35em; "></iframe>
                    <% end %>

                  

                    <div class="row m-3">
                        <div class="col-7 pl-4">

                            <h1 class="font-weight-bold ">
                                Lorem Ipsum with if statements
                          
                            </h1>

                            <div class="form-row ">

                                <div class="form-group col-md-2 text-right mt-3 ">
                                    <button type="submit " class="btn btn-outline-primary w-100 "> Concept</button>
                                </div>

                                <div class="form-group col-md-2 text-right mt-3 ">
                                    <button type="submit " class="btn btn-outline-primary w-100 "> Concept</button>
                                </div>

                                <div class="form-group col-md-2 text-right mt-3 ">
                                    <button type="submit " class="btn btn-outline-primary w-100 "> Interest</button>
                                </div>

                            </div>
                        </div>

                 


                    <% if defined? @vData %>
                            <%  if @vData %>
                            <div class="col-md-2 p-2 text-center thumb" id="<%= @vData.id %>" style="cursor:pointer;">
                                <div class="text-center p-2 " style="">
                                    Helpful? 
                                    
                                     <%  if @likeVal == 1 %>
                                        <i class="fas fa-thumbs-up" id="thumbId" style="font-size:1.5em;"></i>
                                     <%  else %>
                                        <i class="far fa-thumbs-up" id="thumbId" style="font-size:1.5em;"></i>
                                    <% end %>

                                </div>
                            </div>
                            <% end %>
                    <% end %>



                      

                        <div class="col-md-2 p-2 text-center">

                            <div class="bg-primary text-center p-2" style="opacity: .5; border-radius: .5em;">
                                <i class="fas fa-share-alt text-white"></i>
                                <span class="text-white ml-2"> Share</span>

                            </div>
                        </div>
                        <div class="col-md-2 text-center">

                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTcE3npkkIN-Ds9L3z3zbB97kwtOlq9jjJ2lQ&usqp=CAU" style="width: 5em;">
                            <h6 class="mt-2">CodeWit <u>Destiny</u></h6>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-12">

                    <iframe id="codeworkout" name="codeworkout" src="https://codeworkout.cs.vt.edu/gym/exercises/688/practice?lti_launch=true&workout_id=955" style="height:100%; min-height:35em; width:100%;background-color: #f9f9f9; " sandbox="allow-scripts allow-modals allow-top-navigation allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-forms "></iframe>

                </div>

            </div>

            <!-- <hr> -->


        </div>



</body>

</html>