<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    "login", :media => "all" %>
        <title>CodeWitUs Login</title>

        <script>
            $(document).ready(function() {
                $(document).mouseup(function(e) {
                    var container = $(".searchDropdown");
                    if (!container.is(e.target) && container.has(e.target).length === 0) {
                        container.hide();
                    }
                });

                function sendPost(urlX, paramX) {
                    $.ajax({
                        type: "POST",
                        url: urlX,
                        data: {
                            "search": paramX
                        },
                        success: function(data) {

                            $('.searchDropdown').show();
                            $('.list-group').html('');

                            for (i = 0; i < data.length; i++) {
                                console.log(data[i]);

                                $('.list-group').append('<li class="list-group-item" style="cursor:pointer;" id="' + data[i].id + '">' + data[i].interest_name + '</li>');

                            }

                            $('.list-group').append('<li class="list-group-item" style="cursor:pointer;" id="NoVal">' + paramX + '</li>');

                        }
                    });
                }

                $(document).on('click', '.list-group-item', function() {
                    var id = $(this).attr("id");
                    $('.searchDropdown').hide();

                    if (id != "NoVal") {
                        if ($("#Intr" + id).length != 0) {
                            $("#Intr" + id).attr("class", "btn btn-primary mb-1");
                        }
                    } else {
                        var newIntr = $(this).html();

                        $('.interest-buttons').append('<a href="#" class="btn btn-primary mb-1 mr-1" id="NoVal"> ' + newIntr + '</a>');

                    }

                });

                $('.modal').modal('show');

                $("#inputUsername").on('keyup', function(e) {
                    var val = $(this).val();
                    sendPost("http://localhost:3000/interest", val);

                    // if (e.key === 'Enter' || e.keyCode === 13) {
                    //     $('searchDropdown').hide();
                    // }
                });
            });
        </script>

</head>

<body>

    <div class="container p-5">

        <div class="row">
            <div class="col-md-6 col-sm-12 mt-1 text-center">

                <%= image_tag "hello.jpg", :class => "login-image " %>
            </div>
            <div class="col-md-6 col-sm-12">

                <div class="form-row">


                    <h2 class="mb-5">
                        Welcome
                        <%= @uData.username %>!

                    </h2>


                    <div class=" col-12">
                        <label class="font-weight-normal">Email: </label>
                        <span class="text-secondary">

                        <%= @uData.email  %>!
                            </span>

                    </div>

                    <%= render "interest" %>

                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">Test Modal</button>







                </div>




            </div>
        </div>

        <!-- <hr> -->


    </div>



</body>

</html>