<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    "login", :media => "all" %>
       <%= javascript_pack_tag 'home' %>
        <title>CodeWitUs Login</title>
</head>

<body>


    <%= render "layouts/header2" %>
            <%= render "layouts/login_modal" %>

    <div class="container p-5">

        <div class="row">
            <div class="col-md-6 col-sm-12 mt-1 text-center">

                <%= image_tag "login.jpg", :class => "login-image " %>
            </div>
            <div class="col-md-6 col-sm-12">

                <form action="/user/register" method="post">
                    <div class="form-row">


                        <h2 class="mb-5">
                            Sign Up
                        </h2>
                        <div class="form-group col-12">
                            <label for="inputName">Full Name</label>
                            <input type="text" class="form-control" id="inputName" name="name" placeholder="Enter Full Name">
                        </div>
                        <div class="form-group col-12">
                            <label for="inputUsername">Username</label>
                            <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Enter Username">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Enter Email Address">
                            <!-- <small class="form-text text-muted" id="emailHelp">Use your Wildcat email account</small> -->
                        </div>

                        <div class="form-group col-md-12">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
                        </div>

                        <% flash.each do |type, msg| %>
                            <div class="col-12">
                                <div class="alert alert-warning alert-dismissible fade show " role="alert">
                                    <strong>Error!</strong>
                                    <%= msg %>

                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                                </div>
                            </div>
                            <% end %>





                                <div class="form-group col-md-12 text-right mt-">
                                    <button type="submit" class="btn btn-outline-primary w-100"> Sign Up</button>
                                </div>

                    </div>
                </form>

                <div class="form-row">
                    <div class="form-group col-md-6 text-right mt-3">
                        <%= button_to "Log In with Google", '/auth/google_oauth2', {method: :post, class: 'btn btn-primary w-100'} %>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>
